html {
    font-size: 62.5%;
}

span {
    font-size: 1.6em;
}

body {
    background-color: maroon;
    color: mintcream;
}


#main_logo {
    padding-top: 50px; 
    padding-bottom: 20px;
    width: 100% /\9;
}

#imgMain {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
}

h1 {
    font-family: 'New Rocker', cursive !important;
    margin-bottom: 20px !important;
}

h2 {
    font-family: 'New Rocker', cursive;
    font-size: 2rem;
}

#correctAnswers {
    margin-top: 32px;
    font-size: 20px;
}

#timer {
    margin: 20px 0px 8px;
    font-size: 20px;
}
  

.div {
    font-family: 'New Rocker', cursive;
}

label {
    font-size: 16px;
}

end p {
    font-size: 20px
}

#questions {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
}
