body {
    background-color: maroon !important;
}

#end {
    display: none !important;
}

#main_logo {
    padding-top: 50px !important;
    padding-bottom: 20px !important;
    width: 100% \9 !important;
}

h1 {
    margin-bottom: 20px !important;
}

#end p {
    font-size:20px !important;
}

#correctAnswers {
    margin-top: 32px !important;
}

#timer {
    margin-top: 20px !important;
}
  
#questions {
    margin-top: 32px;
    font-size: 20px;
    font-weight: 500;
}

#imgMain {
    vertical-align: middle;
}

.image-fluid {
    max-width: 100%;
    height: auto;
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

